<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta name="viewport" content="width=device-width" />
<title>Chance Test</title>
<style type='text/css'>
body { font:12px/1.5 Helvetica,Tahoma,Arial,Sans-serif;background:#fff; }
table {	width:100%;padding:0;margin:0;border-collapse:collapse;border:2px solid #BDD;}
th { color:#567;background:#DEE;border:1px solid #CDD;text-align:middle;padding:4px; }
td { border:1px solid #CEE;padding:1px; }
tr { background:#fff; }
tr.alt { background:#EFF; }
.seqnum { text-align:center;font-weight:bolder;color:#F00; }
input { font-family:NSimSun,Arial,Sans-serif; margin-top: 1px; margin-bottom: 1px}
@media only screen and (max-width : 1023px) {
	.searchbox { width: 40%; margin-right: 10px }
}
@media only screen and (min-width : 1024px) {
	.searchbox { margin-right: 2px}
}
</style>
<script src="angular.js"></script>
<script>
var testApp = angular.module('testApp', [])
.controller('testController', ['$scope', '$location', function($scope, $location) {
	$scope.chancePets = ['0.33', '0.33'];
	$scope.chancePets2 = [''];
	$scope.chanceResult = "?.??";
	$scope.chanceCount = 10000;
	$scope.stoneCount = 450;
	$scope.chanceBoxChange = function(index) {
		var needCreate = true;
		for (var i = index; i < $scope.chancePets.length; i++) {
			if ($scope.chancePets[i] == '') {
				needCreate = false;
				break;
			}
		}
		if (needCreate) {
			$scope.chancePets.push('');
		}
	};
	$scope.chanceBoxChange2 = function(index) {
		var needCreate = true;
		for (var i = index; i < $scope.chancePets2.length; i++) {
			if ($scope.chancePets2[i] == '') {
				needCreate = false;
				break;
			}
		}
		if (needCreate) {
			$scope.chancePets2.push(''); 
		}
	};
	$scope.chancerows = [];
	$scope.chancerun = function() {
		var chance1 = [], chance2 = [];
		for (var i = 0; i < $scope.chancePets.length; i++) {
			if ($scope.chancePets[i].length > 0)
				chance1.push((+$scope.chancePets[i]) / 100.0);
		}
		for (var i = 0; i < $scope.chancePets2.length; i++) {
			if ($scope.chancePets2[i].length > 0)
				chance2.push((+$scope.chancePets2[i]) / 100.0);
		}
		var success = 0;
		nextChance:
		for (var c = +$scope.chanceCount; c > 0; c--) {
			var fulfilled1 = [], fulfilled2 = [];
			for (var i = 0; i < chance1.length; i++)
				fulfilled1.push(false);
			for (var i = 0; i < chance2.length; i++)
				fulfilled2.push(false);
			nextTest:
			for (var i = +$scope.stoneCount / 5; i > 0; i--) {
				if ((chance2.length === 0 && fulfilled1[chance1.length - 1]) || fulfilled2[chance2.length - 1]) {
					success++;
					continue nextChance;
				}
				for (var j = 0, n = fulfilled1.length; j < n; j++) {
					if (!fulfilled1[j]) {
						fulfilled1[j] = (Math.random() < chance1[j]);
						continue nextTest;
					}
				}
				for (var j = 0, n = fulfilled2.length; j < n; j++) {
					if (!fulfilled2[j]) {
						fulfilled2[j] = (Math.random() < chance2[j]);
						continue nextTest;
					}
				}
				if ((chance2.length === 0 && fulfilled1[chance1.length - 1]) || fulfilled2[chance2.length - 1]) {
					success++;
				}
			}
		}
		$scope.chanceResult = 100.0 * success / (0.0 + $scope.chanceCount);
		$scope.chanceResultChange();
	};
	$scope.chanceResultChange = function() {
		$scope.chancerows = [];
		for (var i = 1; i <= 200; i++) {
			if (i > 100 && i % 2 == 1)
				continue;
			$scope.chancerows.push({'times' : i, 'chance' : 100.0 * (1.0 - Math.pow(1.0 - $scope.chanceResult / 100.0, i)) + "%"});
		}
	};
}]);
</script>
</head>
<body ng-app='testApp' ng-controller='testController'>
	<form ng-submit="chancerun()">
		金马桶　　<input type=text class="chancebox" ng-model="chancePets[$index]" ng-repeat="sPet in chancePets track by $index" ng-change="chanceBoxChange($index)" />
		<br />
		其他马桶　<input type=text class="chancebox" ng-model="chancePets2[$index]" ng-repeat="sPet in chancePets2 track by $index" ng-change="chanceBoxChange2($index)" />
		<br />
		石头数　　<input type=text class="chancebox" ng-model="stoneCount" />
		<br />
		试抽次数　<input type=text class="chancebox" ng-model="chanceCount" />
		<input type=submit value="试跑一把" />
	</form>
	《结果》　<input type=text class="chancebox" ng-model="chanceResult" ng-change="chanceResultChange()"/>%
	<table style="width:300px">
		<thead><tr><th nowrap style="width:30%">times</th><th style="width:70%">chance</th></tr></thead>
		<tbody>
			<tr ng-class-even="'alt'" ng-repeat="onerow in chancerows">
				<td>{{onerow.times}}</td>
				<td>{{onerow.chance}}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
